<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Contrôle des Lumières</title>
</head>
<body>
    <h1>Contrôle des Lumières</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="lumiere1_on">Allumer Lumière 1</button>
        <button type="submit" name="action" value="lumiere1_off">Éteindre Lumière 1</button>
        <button type="submit" name="action" value="lumiere2_on">Allumer Lumière 2</button>
        <button type="submit" name="action" value="lumiere2_off">Éteindre Lumière 2</button>
        <button type="submit" name="action" value="all_on">Tout Allumer</button>
        <button type="submit" name="action" value="all_off">Tout Éteindre</button>
    </form>
    <h2>Température : {{ temp }}</h2>

    <h3><a href="{% url 'logout' %}">Se déconnecter</a></h3>
</body>
</html>
