<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/StylePlage_modifieur.css' %}">
    <title>Modifier une plage horaire</title>
</head>
<body>
    <div class="container">
        <h2>🕑</h2>
    <div class="box">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="container">
            <button type="submit" class="btn">Enregistrer</button>
            <a href="{% url 'plage_horaire' %}" class="btn">Annuler</a>
        </div>
        </form>
    </div>
</div>
    {% load static %}
    <script src="{% static 'app/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
