<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/StylePlage.css' %}">
    <title>Gestion des plages horaires</title>
</head>
<body>
    <div class="container">
    <h2 class="iconhoraire">🕑</h2>
    <div class="box">
        <div class="box1">
            <form action="{% url 'plage_horaire' %}" method="post">  <!-- Use URL tag for better practice -->
                {% csrf_token %}
                {{ form1.as_p }}  <!-- Utilisez form1 au lieu de form -->
                <input type="submit" value="Submit">
            </form>
        </div>


        {% if plages %}
            {% for plage in plages %}
            <div class="box2">
                <div class="containernomplage">
                <p class="nomplage"><strong>{{ plage.nom_plage }}</strong></p>
                </div>
                <div class="boxplage">
                <p>💡 : {{ plage.led }}</p>
                <p>Début: {{ plage.heure_debut }}</p>
                <p>Fin: {{ plage.heure_fin }}</p>
                <p>Action : {{plage.actions }}</p>
                <div class="containernomplage">
                <a class="buttonbox2" href="{% url 'plage_modifier' plage.id %}">Modifier</a>
                <a class="buttonbox2" href="{% url 'plage_delete' plage.id %}">Supprimer</a>            
            </div>
            </div>
            </div>
            {% endfor %}
            <div class="containerback">
            <a class="buttonback" href="{% url 'home' %}">RETOUR</a>
            </div>
        {% else %}
        <div class="containerback2">
            <div class="containernomplage">
            <p class="nomplage2">Aucune plage horaire trouvée.</p>
            </div>
                <a class="buttonback2" href="{% url 'home' %}">RETOUR</a>
                </div>
        {% endif %}
    </div>
</div>
    <script src="{% static 'app/script.js' %}"></script>
</body>
</html>
